// variables generales (root)
$padding-contanier: 80px 0;
$primary: #00c6fb;
$secondary: #005bea;
$color-bg: #fafafa;
$aling-title: center;
$box-shodow: 0 0 12px rgba(0,0,0,0.2);

$breakpoints:("small":550px, "medium":900px,  "large":1024px);